.content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.header{
    align-items: center;
    background-color: indigo;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
}
.tittle{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    margin-left: 15px;
}
.author{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-small;
    margin-right: 20px;
    margin-left: 20px;
}
.empty{
    background-color: white;
    height: 2px;
}
.bar{
    background-color: indigo;
    height: 3px;
}
@media (max-width: 1040px){
    .content{
        flex-wrap: wrap;
    }
}