body {
    background-color: mediumpurple;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.header{
    align-items: center;
    background-color: indigo;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
}
.tittle{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    margin-left: 15px;
}
.author{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-small;
    margin-right: 20px;
    margin-left: 20px;
}
.empty{
    background-color: white;
    height: 2px;
}
.bar{
    background-color: indigo;
    height: 3px;
}